<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dir_torrents" value="Torrents"/>
    <add key="dir_download" value="Downloads"/>
    <add key="file_FastResume" value="fastresume.data"/>
    <add key="file_DhtNodes" value="DhtNodes"/>
  </appSettings>
</configuration>
